/******************************************************************************
// Created by: shlomo hassid.
// Release Version : 2.1
// Creation Date: 12/09/2013
// Updated To V.2.1 : 05/01/2014
// Mail: Shlomohassid@gmail.com
// require: jquery latest version SQL 4+ PHP 5.3+ .	
// Copyright 2013, shlomo hassid.
/******************************************************************************/

body{
	color:#2E2E2E;
	font-size:16px;
    background-color:#2E2E2E;
}
@-moz-document url-prefix() { /*firefox padding fix */
    body{
        font-size:14px;
    }
}
/*USER*/
div.outerConatainer{
	width:85%;
	font-size:1em;
	background-color:#E6E6E6;
	max-width:400px;
	min-width:320px;
	padding:15px;
	margin:5px;
	border-radius:15px;
	border:0px solid #3B3B3B;
	color:#2E2E2E;
	box-shadow: inset 0px 0px 5px 1px rgba(90,90,90,1), 1px 1px 600px 5px rgba(221,221,221,.2);
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(90,90,90,1), 1px 1px 600px 5px rgba(221,221,221,.2);
	-moz-box-shadow: inset 0px 0px 5px 1px rgba(90,90,90,1), 1px 1px 600px 5px rgba(221,221,221,.2);

}
div.outerConatainer table{
	width:100%;
	border:1px solid #D8D8D8;
	border-radius:15px;
	padding:5px;
}
 .logoTakeThat {
    height:50px;
}
.logoTakeThat img{
    width:200px;
    height:35px;
}
div.logoBrand{
	float:right;
	font-size:0.6em;
	font-family:  Arial, sans-serif;
    font-weight: 700;
	color:#0B2161;
}
div.border_div{
	width:100%;
	height:2px;
	background-color:#BDBDBD;
	margin-bottom:5px;
}
div.border_div2{
	width:100%;
	height:1px;
	background-color:#D8D8D8;
	margin-top:5px;
	margin-bottom:5px;
}
p.sec_form{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:0.9em;
	font-family:  Arial, sans-serif;
    font-weight: 700;
}
.smaller{
	font-size:0.8em;
	font-style:italic;
}
.add_to,
.add_file{
	left:15px;
	position:relative;
	width: 0; 
	height: 0; 
    color:white;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #697CBB;
	cursor:pointer;
}
.add_to::before,
.add_file::before{
	position:absolute;
	top:-18px;
	left:-5px;
	content:'+';
	text-align:center;
	font-size:1em;
	font-family:  Arial, sans-serif;
	font-weight:bold;
}
.add_to:hover,
.add_file:hover{
	color:#FACC2E;
}
.maximum_reach{
	color:red;
	font-size:0.7em;
	font-family: 'arial' ,cursive;
}

.clear_to,
.clear_file{
	width:15px;
    height:13px;
	text-align:center;
	margin:0;
	padding:4px 3px 2px 2px;
	font-size:0.6em;
	font-family: 'Prosto One', 'tahoma', 'arial' ,cursive;
	font-weight:bold;
	background-color:#697CBB;
	cursor:pointer;
	color:white;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.clear_to:hover,
.clear_file:hover{
	color:#FACC2E;
    background-color:#4E63A8;
}

.css3button,
.css4button,
.css5button,
.css6button   {
	min-width: 90px;
	width:80%;
	margin: 0 auto;
	cursor:pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
	text-align:center;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:  Arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	line-height:35px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px -1px 0px #9cbee0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s ;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.css3button:hover,
.css5button:hover,
.css6button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}

.css4button {
    color:white;
    border:1px solid #33642B;
    text-shadow:1px -1px 0px #33642B;
	-moz-box-shadow:inset 0px 1px 0px 0px #417139;
	-webkit-box-shadow:inset 0px 1px 0px 0px #417139;
	box-shadow:inset 0px 1px 0px 0px #417139;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #417139), color-stop(1, #55864C) );
	background:-moz-linear-gradient( center top, #417139 5%, #55864C 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#417139', endColorstr='#55864C');
	background-color:#417139;
}
.css4button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #55864C), color-stop(1, #417139) );
	background:-moz-linear-gradient( center top, #55864C 5%, #417139 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#55864C', endColorstr='#417139');
	background-color:#55864C;
}
.css4button,
.css5button,
.css6button {
    line-height:auto;
	min-width: 50px;
	padding: 8px 0px 8px 0px;
	font-size: 0.6em;
	width:80px !important;
	margin:auto;
	font-weight: 700;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}
.css4button {
    height:auto;
    line-height:25px;
    padding:0;
}
.css5button,
.css6button {
    position:relative;
    width:180px !important;
    text-align:center;
    font-size:12px;
    padding:0;
}
div.css5button:before{
	position:absolute;
    background-image: url('../img/glyphicons/png/glyphicons_006_user_add.png');
    background-size: 17px 15px;
	width:17px !important;
	height:15px !important;
    content:"";
	left:115px;
    top:9px;
}
div.moveright:before {
    background-image: url('../img/glyphicons/png/glyphicons_043_group.png');
    left:128px;
}
div.guestsMode:before {
    background-image: url('../img/glyphicons/png/glyphicons_439_wrench.png');
    left:125px;
    top:9px;
}
div.cleanUpButton:before {
    background-image: url('../img/glyphicons/png/glyphicons_365_restart.png');
    left:125px;
    top:11px;
}
div.css6button:before{
	position:absolute;
    background-image: url('../img/glyphicons/png/glyphicons_150_edit.png');
    background-size: 17px 15px;
	width:17px !important;
	height:15px !important;
    content:"";
	left:125px;
    top:9px;
    padding:0;
}
@-moz-document url-prefix() { /*firefox padding fix */
    .css4button {
        height:25px;
        font-size: 0.7em;
    }
    .css3button{
        height:35px;
    }
}
button.css4button:before{
	position:absolute;
    background-image: url('../img/glyphicons/png/glyphicons_027_search.png');
    background-size: 14px 14px;
	width:14px !important;
	height:14px !important;
    content:"";
	left:8px;
    top:6px;
}
.button_td{
	position:relative !important;
	text-align:center;
}
#conMessageReturn{
	color:black;
	font-family:  Arial, sans-serif;
	font-size: 0.7em;
	padding:5px 0px 5px 8px;
	margin:0px 0px 10px 0px;
	line-height:1.5em;
	border:1px solid #FF030B;
	background: #fe9090; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlOTA5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjVjNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fe9090 0%, #ff5c5c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe9090), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fe9090 0%,#ff5c5c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fe9090 0%,#ff5c5c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fe9090 0%,#ff5c5c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fe9090 0%,#ff5c5c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe9090', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-8 */
}
#conMessageDone{
	color:black;
	font-family:  Arial, sans-serif;
	font-size: 0.7em;
	padding:5px 0px 5px 8px;
	margin:0px 0px 10px 0px;
	line-height:1.5em;
	border:1px solid #088A08;
	background: #7ad683; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhZDY4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YWFmNDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7ad683 0%, #5aaf41 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ad683), color-stop(100%,#5aaf41)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7ad683 0%,#5aaf41 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7ad683 0%,#5aaf41 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7ad683 0%,#5aaf41 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7ad683 0%,#5aaf41 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ad683', endColorstr='#5aaf41',GradientType=0 ); /* IE6-8 */

}
img.envelop,
img.return_home{
	position:absolute;
	left:56%;
	top:11px;
	cursor:pointer;
	width:18px;
	height:18px;
}
img.envelop:hover~.css3button{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}
img.envelop:hover~.return_home{
	-moz-box-shadow:0px 3px 11px rgba(000,000,000,0.6), inset 0px 0px 15px 1px  rgba(0,0,0,0.6);
	-webkit-box-shadow:0px 3px 11px rgba(000,000,000,0.6), inset 0px 0px 15px 1px  rgba(0,0,0,0.6);
	box-shadow:0px 3px 11px rgba(000,000,000,0.6), inset 0px 0px 15px 1px  rgba(0,0,0,0.6);	
}
img.return_home{
	left:48%;
}

img.hide_done,
img.hide_errors{
	float:right;
	margin-right:5px;
	cursor:pointer;
	opacity:0.6;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s ;
    -o-transition: 0.2s;
    transition: 0.2s;
	width:16px;
	height:14px;
}
img.hide_done:hover,
img.hide_errors:hover{
	opacity:1;
}

a.link_tofile:link,
a.link_tofile:visited,
a.link_tofile:hover,
a.link_tofile:active{
	position:relative;
	display:block;
	max-width:90%;
    -ms-word-break: break-all;
    word-break: break-all;
     word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
	color:#585858;
	font-family: 'Prosto One', 'tahoma', 'arial' ,cursive;
	font-size: 0.9em;
	padding:20px;
	margin:40px 0px 40px 0px;
	line-height:1.5em;
	border:0;
	font-style:normal !important;
	text-decoration:none !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #D8D8D8;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s ;
    -o-transition: 0.2s;
    transition: 0.2s;
}
a.link_tofile:hover{
	color:#2E64FE;
}
ul.links_group{
	padding:5px;
	margin:15px 0px 15px 0px;
	border:0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #D8D8D8;
}
ul.links_group li{
	list-style-type: none;
	background: url('../img/glyphicons/png/1down.png') no-repeat top left;
	background-size: 18px 16px;
	padding-left:25px;
	margin:10px 0px 10px 20px;
	max-width:90%;
    -ms-word-break: break-all;
    word-break: break-all;
     word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
ul.links_group a:link,
ul.links_group a:visited,
ul.links_group a:hover,
ul.links_group a:active{
	position:relative;
	display:block;
	color:#585858;
	font-family: 'Prosto One', 'tahoma', 'arial' ,cursive;
	font-size: 0.8em;
	line-height:1.6em;
	font-style:normal !important;
	text-decoration:none !important;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s ;
    -o-transition: 0.2s;
    transition: 0.2s;
}
ul.links_group a:hover{
	color:#2E64FE;
}
p.no_file{
	color:#585858;
	font-family: 'Prosto One', 'tahoma', 'arial' ,cursive;
	font-size: 0.9em;
	padding:20px;
	margin:40px 0px 40px 0px;
	line-height:1.5em;
	border:0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #D8D8D8;
}
p.no_file img{
	margin-right:10px;
}
.prog1text{
	display:inline-block;
	padding:5px;
	padding-left:10px;
	color:#2E2E2E;
	width:95%
}
.showerror{
	padding-top: 4px;
}
.showerror img{
	width:18px;
	height:16px;
}
img.down111{
	width:18px; 
	height:16px; 
	position:relative; 
	top:2px; 
	margin-right:5px;
}
div.userAccountDisplay table{
    width:100%;
    background-color: #D8D8D8;
}
div.userAccountDisplay .colorMe1,
div.userAccountDisplay .colorMe2 {
    font-size: 0.8em;
    font-family: 'Prosto One', 'tahoma', 'arial' ,cursive;
}
div.userAccountDisplay .colorMe1 { color:#FF8000; }
div.userAccountDisplay .colorMe2 { color:#2E2E2E; padding-left:5px; }

div.logoutbutton div{
    background: url('../img/glyphicons/png/glyphicons_387_log_out.png') no-repeat center center;
	background-size: 23px 20px;
    width: 100%;
    height: 30px;
    margin:0px 0px 0px 0px;
}
div.logoutbutton {
    float:right;
    width: 20%;
    min-width: 50px;
    height: 30px;
}

div.loginbutton div{
    
    background: url('../img/glyphicons/png/glyphicons_386_log_in.png') no-repeat center center;
	background-size: 23px 20px;
    width: 100%;
    height: 30px;
    margin:0px 0px 0px 0px;
}
div.loginbutton {
    float:right;
    width: 20%;
    min-width: 50px;
    height:30px;
}





/*ADMIN*/
img.expand_users_action_display {
    width:16px;
    height:16px;
    cursor:pointer;
    float:right;
}

div.tabs_admin{
	width:98%;
	vertical-align: top;
	white-space: nowrap;
	margin-bottom:8px;
}
div.tabs_admin div{
	color:#2E2E2E;
	font-size:0.8em;
	white-space: nowrap;
	font-family: 'tahoma', 'arial' ,cursive;
    font-weight: bold;
	display:inline-block;
	width:13.5%;
	margin:0;
	padding:4px 0px 4px 0px;
    border:1px solid #3866a3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius:5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	text-align:center;
	cursor:pointer;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -ms-transition:all 0.3s ;
    -o-transition:all 0.3s;
    transition:all 0.3s;
    text-shadow: 1px -1px 0px #A9BCF5;
}
div.tabs_admin div:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}
div.tab_select{
	
}

div.tab_page{
	position:absolute;
	width:100%;
	height:600px;
	color:white;
    border-radius:4px;
	background-color:#D8D8D8;
	overflow-x:hidden;
	overflow-y:scroll;
}
p.admin_head1,
p.admin_head2{
	margin:0px 0px 0px 0px;
	padding:3px 0px 3px 5px;
	font-size:1.0em;
    font-weight:700;
    background-color:#D8D8D8;
	font-family:  Arial, sans-serif;
	color:#084B8A;
    border-radius:3px;
}
p.admin_head2{
	font-size:0.9em;
	color:#B43104;
	margin:10px;
}
p.row_backcolor1 {
    background-color:#585858;
    padding:5px;
    margin-bottom:0px;
}
#page_users { color:#2E2E2E; }
#page_users .admin_head2 { color:white; }
#page_users .storage_table3 { margin-top:10px; }
#page_users .css5button { padding:0; }

#page_storage{ color:#2E2E2E; }
table.storage_table1,
table.storage_table2,
table.storage_table3,
table.storage_table4,
table.file_type_table{
	border:0 !important;
	font-size:0.9em;
    color:#2E2E2E;
    border-spacing: 0;
    border-collapse: collapse;
}
table.storage_table1 td{
	border-bottom:1px solid #BDBDBD !important;
	padding:5px;
	padding-left:10px;
}
table.storage_table2 td{
	border-bottom:1px solid #BDBDBD !important;
	padding:5px;
	padding-left:10px;
}
table.storage_table3  td{
	border:0 !important;
	padding:5px;
	padding-left:5px;
}
table.storage_table4 td{
	border-bottom:1px solid #BDBDBD !important;
	padding:5px;
	padding-left:5px;
	font-size:0.7em;
	-ms-word-break: break-all;
    word-break: break-all;
     word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
div.error_catcher2,
div.error_catcher {
    position:relative;
    background-color:#F78181;
    border: 1px solid #2A0A12;
    border-radius:5px;
    line-height:20px;
    font-size:12px;
    font-family:arial;
    color:black;
    width:90%;
    padding:10px;
    margin:0 auto;
    margin-top:5px;
    font-weight:bold;
}
div.closeMessageVal2,
div.closeMessageVal {
    position:absolute;
    top:5px;
    right:5px;
    width:12px;
    height:12px;
    background-image: url('../img/glyphicons/png/glyphicons_207_remove_2.png');
    background-size: 12px 12px;
    content:"";
    cursor:pointer;    
}
span.progressClean {
    font-size:0.7em;
    font-weight:bold;
}
div.wrap_buttons_users {
    width:126px;
    padding:0;
    margin:0;
}
div.delete_row_user,
div.update_row_user {
    display:inline-block;
    width:50px;
    border:1px solid #2E2E2E;
    border-radius:3px;
    padding:5px;
    text-align:center;
    font-family:arial;
    font-weight:bold;
    font-size:0.7em;
    cursor:pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s ;
    -o-transition: 0.3s;
    transition: 0.3s;
}
div.delete_row_user {
    background-color:#FE642E;
}
div.update_row_user {
    background-color:#B18904;
}
div.delete_row_user:hover,
div.update_row_user:hover{
	-moz-box-shadow:inset 0px 0px 15px 1px  rgba(255,255,255,0.4);
	-webkit-box-shadow:inset 0px 0px 15px 1px  rgba(255,255,255,0.4);
	box-shadow:inset 0px 0px 15px 1px  rgba(255,255,255,0.4);	
}
div.row_info_users {
    width:100%;
    border-radius:5px;
}
div.row_info_users table {
    border:1px solid #A4A4A4;
}
select.selectBoxNew {
    width:163px;
    padding:5px 4px 5px 4px;
    border-radius:10px;
    border:1px solid #BEBEBE;
    outline:none;
}
select.larger_selectBoxNew {
    width:180px;
}
select.smaller_selectBoxNew {
    width:120px;
}
table.file_type_table td{
	border:0  !important;
	padding:0;
	margin:0;
	padding-right:3px;
}
label.dec_font{
	font-size:0.9em !important;
}
td.help_td_ge{
	font-size:0.9em !important;
    color:#2E2E2E;
}
td.table_head1{
	background-color:#A4A4A4;
	font-size:0.8em;
	font-family:  Arial, sans-serif;
	color:#2E2E2E;
    border-radius:5px;
    font-weight:700;

}
@-moz-document url-prefix() { /*firefox padding fix */
    td.table_head1{
        font-size:0.9em;
    }
}
div.remove_but,
div.search_but{
	display:inline-block;
	background-color:#CEECF5;
    border:1px solid #33642B;
    text-shadow:1px -1px 0px #33642B;
	-moz-box-shadow:inset 0px 1px 0px 0px #417139;
	-webkit-box-shadow:inset 0px 1px 0px 0px #417139;
	box-shadow:inset 0px 1px 0px 0px #417139;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #417139), color-stop(1, #55864C) );
	background:-moz-linear-gradient( center top, #417139 5%, #55864C 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#417139', endColorstr='#55864C');
	background-color:#417139;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	border-radius:4px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s ;
    -o-transition: 0.3s;
    transition: 0.3s;
	cursor:pointer;
	padding: 4px 30px 1px 30px;
}
div.remove_user_search_but,
div.remove_log_search_but{
    padding: 6px 10px 4px 10px;
}
div.remove_but:hover,
div.search_but:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #55864C), color-stop(1, #417139) );
	background:-moz-linear-gradient( center top, #55864C 5%, #417139 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#55864C', endColorstr='#417139');
	background-color:#55864C;
}
div.remove_but img{
	width:12px;
	height:12px;
}
div.search_but img{
	width:18px;
	height:18px;
}
div.tab_page::-webkit-scrollbar {
    width: 14px;
	height: 10px;
}
 
div.tab_page::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 1px 9px rgba(0,0,0,0.7); 
    border-radius: 10px;
}
 
div.tab_page::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 1px 10px rgba(0,0,0,0.8); 
}
div.button_save_ge{
	float:right;
	margin:0px 0px 0px 0px;
	padding:2px 2px 2px 2px;
	background-color:#0B3861;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	border-radius:4px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s ;
    -o-transition: 0.3s;
    transition: 0.3s;
	cursor:pointer;
	color:white;
    font-size:1em;
	opacity:0.5;
}
div.button_save_ge:hover{
	background-color:#81DAF5;
	opacity:0.9;
    color:#2E2E2E;
}
p.results_header{
	margin:10px 0px 0px 10px;
	padding:0;
	font-weight:bold;
    color:#8A0808;
	font-size:1.1em;
	font-family:  Arial, sans-serif;
}
div.row_log_details,
div.row_search_details{
	width:98%;
	background-color:#BDBDBD;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	border-radius:4px;
	padding:5px 0px 5px 0px;
	margin:3px 0px 3px 0px;
	font-size:1em;
	font-family: 'Prosto One', 'tahoma', 'arial' ,cursive;	
}
div.row_log_details p,
div.row_search_details p{
	font-family:  'tahoma', 'arial' ,cursive;
	color:#2E2E2E;
	font-size:1.2em;
	font-weight:bold;
	margin:5px 5px 5px 10px;
}
div.row_log_details span,
div.row_search_details span{
	color:#2E2E2E;
	font-size:1.1em;
	font-weight:normal;
}






/*INPUT AND TEXTAREAS*/
input[type="text"],
input[type="password"],
.css-textarea{
    padding: 5px;   
    border: 1px solid #BEBEBE;
	outline: none;  
	width:95%;
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
	background: -webkit-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');   
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	-webkit-user-modify: read-write-plaintext-only;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
input[type="text"]:hover,
input[type="password"]:hover,
.css-textarea:hover{
    border:1px solid #FACC2E;
}
input[type="text"]:focus,
input[type="password"]:focus,
.css-textarea:focus{
	-webkit-box-shadow: 0px 0px 5px 0px #FACC2E;
	-moz-box-shadow: 0px 0px 5px 0px #FACC2E;
    box-shadow:0px 0px 5px 0px #FACC2E;
}
.css-textarea{
	resize:vertical;
	border-radius: 5px !important;
}
input[type=checkbox].css-checkbox { position: absolute;  overflow: hidden;  clip: rect(0 0 0 0);  height:1px;  width:1px;  margin:-1px;  padding:0; border:0; } 
input[type=checkbox].css-checkbox + label.css-label { padding-left:20px; height:15px;  color:#2E2E2E; display:inline-block; line-height:15px; background-repeat:no-repeat; background-position: 0 0; font-size:15px; vertical-align:middle; cursor:pointer; } 
input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -15px; }  
.css-label{ background-image:url(../img/x-orange.png); }




/* ALL HTML5 PROGRESS ENABLED BROWSERS */
progress.porg1{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: solid #cccccc 5px;
	border-radius: 10px;
	width: 100%;
	height: 25px;
}

/* Polyfill */
progress.porg1[role]:after {
	background-image: none; /* removes default background from polyfill */
}

/*Background of the progress bar background*/
progress.porg1 {
	background: #cccccc !important; /* !important only needed in polyfill */
}
progress.porg1::-webkit-progress-bar {
	background: #cccccc;
}

/*Background of the progress bar value*/
progress.porg1::-moz-progress-bar {
	border-radius: 5px;
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
}
progress.porg1::-webkit-progress-value {
	border-radius: 5px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(43,194,83)),
		color-stop(1, rgb(84,240,84))
	);
	background-image: -webkit-linear-gradient(
		bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
}
progress.porg1[aria-valuenow]:before {
	border-radius: 5px;
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	background-image: -ms-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	background-image: -o-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	
}



/*MOBILE FIX*/
@media screen and (max-device-width : 480px) and (min-device-width : 320px){
	div.outerConatainer{
		width:95%;
		max-width:none;
		font-size:2.3em;
		}
	div.logoTakeThat {
        height:90px
	}
	div.logoTakeThat img{
		width:50%;
        height:100%;
	}
	input[type="text"],
	input[type="password"],
	.css-textarea{
		padding: 10px;
		font-size:1.2em;
	}
	p.sec_form{
		font-size:1.3em;
	}

	.css3button,
	.css4button {
		width:80%;
		margin: 0 auto;
		font-size: 1.2em;
		padding: 35px 20px;
	}
	.css4button {
		min-width: 190px;
		font-size: 0.9em;
		margin-right:20px;
		padding: 19px 8px;
	}
	button.css4button:before{
		background-size: 26px 26px;
		width:26px !important;
		height:26px !important;
		left:12px;
		top:20px;
	}

	input[type=checkbox].css-checkbox:checked + label.css-label { background-position:0 0; margin-top:15px; }  
	.css-label{ background-image:none; }
	input[type=checkbox].css-checkbox + label.css-label {background-position:0 0; background-repeat:repeat; cursor:auto; display:inline; font:normal; height:auto; line-height:normal; padding-left:0; vertical-align:baseline; }
	input[type=checkbox].css-checkbox { background-position : 0 0; border : 0; border-style : none; border-width : medium; border-color : inherit; clip : auto; position: relative; line-height : normal; margin : 0; overflow : visible; padding : 0; width : 6em; height : 6em; top:0; }
    
    
	.clear_to,
	.clear_file{
		width:60px;
        height:40px;
		text-align:center;
		margin:0;
		padding:0.4em 0;
		font-size:0.8em;
	}
	.add_to,
	.add_file{
		border-left: 1.4em solid transparent;
		border-right: 1.4em solid transparent;
		border-top: 1.4em solid #585858;
	}
	.add_to::before,
	.add_file::before{
		position:relative;
		top:-1.3em;
		left:-0.3em;
		font-size:1.2em;
	}
    .maximum_reach{
        color:red;
        font-size:1em;
        font-family: 'arial' ,cursive;
    }
	img.envelop,
	img.return_home{
		top:0.8em;
		width:1.2em;
		height:1.2em;
	}
	.showerror{
		padding-top: 4px;
	}
	.showerror img{
		width:1.2em;
		height:1.1em;
	}
	img.hide_done,
	img.hide_errors {
		margin-right:0.3em;
		width:1.6em;
		height:1.5em;
	}
	img.down111{
		width:1.2em;
		height:1.1em;
		top:0.1em; 
		margin-right:0.3em;
	}
	ul.links_group li{
		background-size: 1.2em 1.1em;
		padding-left:1.8em;
	}
    div.logoutbutton div{
        background-size: 45px 45px;
        height: 50px;
        margin:0px 0px 0px 0px;
    }
    div.logoutbutton {
        height: 50px;
        padding:10px 10px
    }
    div.loginbutton div{
        background-size: 45px 45px;
        height: 50px;
        margin:0px 0px 0px 0px;
    }
    div.loginbutton {
        height: 50px;
        padding:10px 10px
    }
}