<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SyncList</title>
    <script type="text/javascript" src="{{ url('') }}/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url('') }}/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url('') }}/assets/livecomm/livecomm.js"></script>
    <link href="{{ url('') }}/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script type="text/javascript">
</script>
</body>
</html>